@import url(https://fonts.googleapis.com/css?family=Barlow+Condensed:regular600,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:regular,600,700);

:root {
  --container-size: 900px;

  --background-color: #1B0D8F;
  --decor-color: #1248fc;

  --title-color: #FFFFFF;
  --subtitle-color: #FFFFFF;
  --price-color: #FFFFFF;
  --free-color: #65ee58;
}

/* Typography */
h1 {
  font-family: 'Barlow Condensed', Arial;
  font-weight: 600;
  font-size: 50px;
  line-height: 1;
}
h2 {
  margin-bottom: 10px;
  font-family: 'Barlow Condensed', Arial;
  font-weight: 600;
  font-size: 80px;
  line-height: 1;
}
h3 {
  margin-bottom: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.1;
}
h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html,
body {
  width: 100%;
  height: 1px;
  min-height: 100%;
  font-family: 'Barlow Condensed', Arial;
  font-size: 20px;
  background-color: var(--background-color);
}

.wrapper {
  width: 100%;
  height: 100%;
}
.container {
  max-width: var(--container-size);
  padding: 0px 30px;
  margin: 0px auto;
}
.title {
  position: relative;
  z-index: 2;

  padding-top: 30px;
  padding-bottom: 10px;
  
  max-width: var(--container-size);
  color: var(--title-color);
}
.slides {
  width: 100%;
}
.slide {
  padding: 120px 0px;
  width: 100%;
  
  display: flex;
  align-items: center;
  background: var(--background-color);
}
.slide .container {
  width: 100%;

  position: relative;
  overflow: visible;

  display: flex;
  align-items: center;
}
.content {
  max-width: 50%;
  position: relative;
  z-index: 2;
}
.slide__title {
  color: var(--title-color);
  text-transform: uppercase;
}
.slide__subtitle {
  color: var(--subtitle-color);
}
.slide__price {
  color: var(--price-color);
}
.slide__price.free {
  color: var(--free-color);
  font-weight: 500;
  font-size: 20px;
}
.slide__image {
  position: relative;
  z-index: 2;

  flex: 1 1 auto;
  display: flex;
  justify-content: center;
}
.slide__image img {
  --size: 300px;

  max-width: var(--size);
  max-height: var(--size);
  border-radius: 10%;
}
.slide__image--small img {
  --size: 250px;
}
.decor {
  --size: 150px;

  position: absolute;
  z-index: 1;

  height: 1px;
  width: 1px;

  box-shadow: 0px 0px var(--size) var(--size) var(--decor-color);

  animation: blink 2s ease-in-out 0s infinite forwards;
}
@keyframes blink {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-20%);
  }
  75% {
    transform: translateY(20%);
  }
  100% {
    transform: translateY(0px);
  }
}

.slide:nth-child(1) .decor-1 {
  right: 10%;
  top: 30%;
}
.slide:nth-child(1) .decor-2 {
  top: 30%;
  left: 0%;
}
.slide:nth-child(2) .decor-1 {
  left: 10%;
  top: 30%;
}
.slide:nth-child(2) .decor-2 {
  right: 30%;
  bottom: 10%;
}
.slide:nth-child(3) .decor-1 {
  left: 10%;
  bottom: 40%;
}
.slide:nth-child(3) .decor-2 {
  right: 20%;
  top: 10%;
}
.slide:nth-child(4) .decor-1 {
  right: 30%;
  top: 40%;
}
.slide:nth-child(4) .decor-2 {
  bottom: 20%;
  left: 10%;
}
.slide:nth-child(5) .decor-1 {
  right: 30%;
  top: 40%;
}
.slide:nth-child(5) .decor-2 {
  bottom: 20%;
  left: 10%;
}
.slide:nth-child(1) .decor-1 {
  right: 30%;
  top: 40%;
}
.slide:nth-child(1) .decor-2 {
  bottom: 20%;
  left: 10%;
}

@media (min-width: 1660px) {
  .decor {
    --size: 250px;
  }
}
@media (max-width: 768px) {
  .title {
    padding-bottom: 10px;
  }
  .slide__image img {
    --size: 250px
  }
  .slide__image--small img {
    --size: 180px;
  }
}
@media (max-width: 750px) {
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 60px;
  }
  h3 {
    font-size: 28px;
  }
  h4 {
    font-size: 16px;
  }

  .title {
    padding-top: 40px;
    margin-bottom: 20px;
  }
  .slide {
    padding: 50px 0px;
  }
  .slide .container {
    padding: 0px 20px;
    flex-direction: column;
    gap: 40px;
  }
  .content {
    max-width: 500px;
  }
  .slide__image {
    width: 100%;
  }
}
@media (max-width: 350px) {
  h2 {
    font-size: 48px;
  }
  h3 {
    font-size: 22px;
  }
  h4 {
    font-size: 16px;
  }
}
